proj1/__pycache__/
proj2/__pycache__/
proj1/tests/__pycache__/
proj2/tests/__pycache__/
test-output.xml
coverage.xml
.pytest_cache/
*.xml
.coverage
monoreposimple.egg-info/
dist/
build/
.scannerwork/
htmlcov/    
proj1/.scannerwork/
proj2/.scannerwork/
proj1/coverage/
proj2/coverage/
proj1/coverage.xml
proj2/coverage.xml
test-output.xml
